@use './variables' as *;
@use './functions' as *;

.container {
  max-width: 1440px;
  margin-inline: auto;

  @media (max-width: 1440px) {
    padding-inline: PxToRem(16);
  }
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: $c_white_1;
  font-size: PxToRem(20);

  ::placeholder,
  & {
    font-family: Peyda;
  }
  ::placeholder {
    color: $c_gray;
  }
}

.form_control input {
  outline: none;
  background: none;
  border: none;
}

i {
  background-color: rgba($c_blue_1, 0.1);
  display: inline-block;
  height: PxToRem(24);
  width: PxToRem(24);
}
select {
  font-family: Peyda;
}
.border {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    background: $gradient-blue;
    z-index: -2;
  }
}

input {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: $c_gray;
    box-shadow: inset 0 0 20px 20px $c_white_2;
  }
}

input {
  font-family: 'Peyda';
}

textarea {
  font-family: 'Peyda';
}
