//colors
$c_blue_1: hsla(241, 69%, 31%, 1);
$c_blue_2: hsla(240, 67%, 17%, 1);
$c_blue_4: hsla(240, 67%, 17%, 0.4);
$c_blue_5: #1a1885;

$c_white_1: hsla(240, 36%, 96%, 1);
$c_white_2: hsla(240, 100%, 100%, 1);
$c_white_3: hsla(0, 0%, 100%, 1);
$c_white_4: hsla(240, 100%, 99.8%, 1);

$c_gray: hsla(241, 30%, 64%, 1);
$c_gray_2: hsla(240, 17%, 92%, 1);
$c_gary_3: hsla(0, 0%, 33%, 1);
$c_gray_4: #dadae8;

$c_yellow_1: hsla(41, 100%, 49%, 1);

$c_purple_1: hsla(248, 84%, 63%, 1);

$c_red_1: hsla(357, 83%, 42%, 1);

//gradient color
$gradient-blue: linear-gradient(355deg, hsla(240, 67%, 17%, 0.4), transparent);
$gradient-purple: linear-gradient(168deg, #1a1885 8.48%, #6a52c8 119.86%);
$bg_purple: linear-gradient(
  180deg,
  rgba(28, 26, 134, 0.66) 0%,
  rgba(64, 52, 165, 0.66) 100%
);
$linear-contact-image: linear-gradient(
  100deg,
  transparent 20%,
  rgba(7, 7, 7, 0.7) 40%,
  #070707 60%
);

//shadow color
$c_shadow_1: rgba(0, 0, 0, 0.08);
$c_shadow_2: 0px 2.85239px 24.24532px 0px rgba(0, 0, 0, 0.2);

//$background-filter
$background-filter: rgba(0, 0, 0, 80%);

//font
$font: "Peyda";
