//colors
$c_blue_1: hsla(241, 69%, 31%, 1);
$c_blue_2: hsla(240, 67%, 17%, 1);
$c_blue_4: hsla(240, 67%, 17%, 0.4);

$c_white_1: hsla(240, 36%, 96%, 1);
$c_white_2: hsla(240, 100%, 100%, 1);
$c_white_3: hsla(0, 0%, 100%, 1);
$c_white_4: hsla(240, 100%, 99.8%, 1);

$c_gray: hsla(241, 30%, 64%, 1);
