@use "../utils" as *;

.primary-btn {
  @include d_flex(row, center, center, nowrap, false, 0.625rem);
  @include font_style(body_2);
  padding: 0.75rem 2rem;
  border-radius: 2.5rem;
  border: 1px solid $c_blue_1;
  background: $c_blue_1;
  color: $c_white_3;
  min-width: max-content;
  transition: all 1s ease-in-out;
  @include psudo(before, $inset: 0) {
    background-color: $c_white_1;
    transition: translate 0.3s ease-in-out;
    translate: 0 100%;
    z-index: -1;
  }
  &:hover {
    background-color: $c_white_4;
    color: $c_blue_1;
    &::before {
      translate: 0;
    }
  }
}
.secondary-btn {
  a {
    @include d_flex(row, center, center, nowrap, false, PxToRem(4));
    padding: PxToRem(8) PxToRem(24);

    background-color: $c_white_2;
    border-radius: PxToRem(40);
    color: $c_blue_1;
    i {
      @include font_style(body);
      color: $c_blue_1;
      background-color: unset;
    }
    p {
      color: $c_blue_1;
    }
  }
}
.btn-video {
  background-color: unset;
  border: 1px solid $c_blue_1;
  border-radius: PxToRem(24);
  overflow: hidden;
  width: fit-content;
  padding: PxToRem(8) PxToRem(24) PxToRem(8) PxToRem(4);
  @include d_flex(row, space-between, center, nowrap, false, PxToRem(12));
  p {
    @include font_style(body_1);
    color: $c_blue_1;
    font-weight: 400;
  }
  i {
    width: PxToRem(32);
    height: PxToRem(32);
    background-color: $c_blue_1;
    color: $c_white_1;
    border-radius: 50%;
    @include d_flex(row, center, center, nowrap, false, 0);
  }
}
