@use "../utils" as *;

.primary-btn {
  @include d_flex(row, center, center, nowrap, false, 0.625rem);
  padding: 0.75rem 2rem;
  border-radius: 2.5rem;
  border: 1px solid $c_blue_1;
  background: $c_blue_1;
  color: $c_white_3;

  &:hover {
    background-color: $c_white_4;
  }
}
