@use "../utils" as *;
.card-post {
  margin-bottom: PxToRem(16);
  @include d_flex(column, space-between, stretch, nowrap, false, PxToRem(8));
  .image-card-post {
    a {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: PxToRem(24);
      }
    }
  }
  .container-title-expert-author-date-button {
    .title-post-card {
      a {
        @include font_style(h2);
        margin-bottom: PxToRem(16);
        color: $c_blue_2;
      }
    }
    .expert-post-card {
      @include font_style(body_2);
      margin-bottom: PxToRem(12);
      color: $c_gary_3;
      text-align: justify;
      @include textOverFlow($-webkit-line-clamp: 2);
    }
    .container-author-date-avatar {
      @include d_flex(row, start, center, nowrap, false, PxToRem(8));
      .avatar-athor {
        img {
          width: PxToRem(44);
          height: PxToRem(44);
          border-radius: 50%;
        }
      }
      div {
        @include font_style(caption);
        color: $c_gary_3;
      }
    }
  }
}
