@use '../utils/index' as *;

header {
  z-index: 1000000;

  .container {
    @include d_flex($equal_children: true, $a_i: center);
    padding-block: PxToRem(40);
    z-index: 10;
    position: relative;

    .menu {
      @media (max-width: 1220px) {
        display: none;
      }

      @include d_flex($gap: PxToRem(28));
      position: relative;

      @at-root #headerCursor {
        $size: PxToRem(28);
        --left: 0;
        --top: 0;

        width: $size;
        height: $size;
        border-radius: 100rem;
        background-color: $c_white_1;
        mix-blend-mode: difference;
        transition: inset 0.1s;
        position: absolute;
        z-index: 1000001;
        pointer-events: none;
        left: var(--left);
        top: var(--top);
        @media (max-width: 1220px) {
          display: none;
        }
      }

      .header_menu_container {
        color: $c_blue_2;
        padding-inline-end: PxToRem(8);
      }
    }
    .icon-menu-mobile,
    .icon-search-mobile {
      i {
        @include d_flex(row, center, center, nowrap, false, 0);
        font-size: PxToRem(24);
        background-color: unset;
        background-color: $c_white_2;
        width: PxToRem(40);
        height: PxToRem(40);
        border-radius: PxToRem(12);
        font-weight: 500;
        box-shadow: 0px 0px 8px 0px $c_shadow_1;
      }
    }
    .icon-menu-mobile {
      @media (min-width: 1220px) {
        display: none;
      }
    }
    .logo {
      @include d_flex($j_c: center);
    }
    .search {
      @media (max-width: 1220px) {
        display: none;
      }
      @include d_flex($j_c: flex-end);

      .form_control {
        $border: 1px solid $c_blue_4;
        border-radius: 1000px;
        border: none;
        padding-block: PxToRem(8);
        padding-inline: PxToRem(16);
        outline: $c_blue_1;
        border-right: $border;
        border-bottom: $border;
        background-color: $c_white_2;

        @include d_flex($a_i: center, $gap: PxToRem(4));
        input {
          outline: none;
          border: none;
          background: transparent;
          &::placeholder,
          & {
            color: $c_gray;
          }
        }

        i {
          font-size: PxToRem(24);
      }
    }
    .icon-search-mobile {
      @media (min-width: 1220px) {
        display: none;
      }
      @include d_flex(row, flex-end, center, nowrap, false, 0);
    }
  }

  &.bg_purple {
    .menu {
      color: $c_white_1;
    }

    .logo {
      img {
        filter: brightness(7);
      }
    }
  }
  .menu-mobile-clicked {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;

    overflow-y: scroll;
    top: 0;
    z-index: 10;
    transition: translate 0.5s ease;
    &.is-open {
      opacity: 1;
      pointer-events: all;
      translate: unset;
      transition: all 0.5s ease-in-out;
      .container-icons-menu {
        opacity: 1;
        transition: all 0.5s ease-in-out;
      }
    }
    .bg-color-menu-mobile {
      position: absolute;
      inset: 0;
      background-color: $c_blue_2;
      opacity: 0.9;
      transition: opacity 0.2s ease;
    }
    .container-icons-menu {
      opacity: 0;
      translate: 0 -16px;
      transition: all 0.5s ease;
      @include d_flex(column, center, start, nowrap, false, PxToRem(16));
      background-color: $c_white_2;
      border-bottom-left-radius: PxToRem(24);
      border-bottom-right-radius: PxToRem(24);
      z-index: 10;
      position: absolute;
      top: 0;
      left: 50%;
      translate: -50% 0;
      padding: PxToRem(16) PxToRem(20) PxToRem(24) PxToRem(20);
      width: 90%;
      .container-icon-group-mobile {
        @include d_flex(row, space-between, center, nowrap, false, 0);

        width: 100%;
        .icon-close-mobile,
        .mobile-search-icon {
          background-color: $c_white_2;
          border-radius: PxToRem(12);
          box-shadow: 0px 0px 8px 0px $c_shadow_1;
          padding: PxToRem(8);
          @include d_flex(row, center, center, nowrap, false, 0);
        }
        .mobile-search-icon {
          .icon-search {
            @include d_flex(row, center, center, nowrap, false, 0);
            background-color: unset;
            font-size: PxToRem(24);
            font-weight: 500;
            color: $c_blue_1;
          }
        }
        .icon-close-mobile {
          .icon-close2 {
            @include d_flex(row, center, center, nowrap, false, 0);
            background-color: unset;
            font-size: PxToRem(24);
            color: $c_blue_1;
            font-weight: 500;
          }
        }
      }
      .menu-header-menu-container {
        width: 100%;
        ul {
          li {
            color: $c_black_1;
            padding: PxToRem(12);

            &:not(:last-child) {
              border-bottom: 1px solid $c_gray_5;
            }
            &.current_page_item {
              border-bottom: 1px solid $c_gray;
            }
          }
        }
      }
    }
  }
  .search-mobile-clicked {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    width: 100%;
    overflow-y: scroll;
    height: 100%;
    overflow: hidden;
    top: 0;
    z-index: 10;
    transition: all 0.3s ease-in;
    &.search-is-open {
      opacity: 1;
      pointer-events: all;
    }
    .bg-color-search-mobile {
      position: absolute;
      inset: 0;
      background-color: $c_blue_2;
      opacity: 0.9;
      transition: opacity 0.2s ease;
    }
    .search-bar-mobile {
      position: absolute;
      z-index: 10;
      top: PxToRem(24);
      left: 50%;
      width: 90%;

      translate: -50% 0;
      transition: translate 0.2s ease;

      background-color: $c_white_2;
      @include d_flex(row, space-between, center, nowrap, false, PxToRem(8));
      padding: PxToRem(8) PxToRem(12);
      border-radius: PxToRem(20);

      input[type='search'] {
        outline: none;
        border: none;
        background-color: unset;
        flex: 2;
        font-family: 'Peyda';

        @include font_style(body);
        color: $c_blue_2;

        font-weight: 400;
        &::placeholder {
          opacity: 0.5;
          font-weight: 300;
        }
      }
      i {
        @include d_flex(row, center, center, nowrap, false, 0);
        background-color: unset;
        font-size: PxToRem(28);
        font-weight: 500;
      }
    }
  }
}
