@use '../../utils/' as *;

body:has(main.home) {
  header {
    position: absolute;
    width: 100%;
    @media (max-width: 1024px) {
      position: relative;
    }
  }

  overflow: hidden;
  max-height: 100vh;
  @media (max-width: 1024px) {
    overflow: visible;
    max-height: unset;
  }
}

main.home {
  max-height: 100%;
  overflow: hidden;
  .popup-home {
    opacity: 0;
    pointer-events: none;
    @include d_flex(column, start, center, nowrap, false, PxToRem(16));
    height: 0;
    &.show {
      height: auto;
      transition: all 0.5s ease-in-out;
      opacity: 1;
      pointer-events: all;
      position: fixed;
      inset: 0;
      width: 100%;
      height: auto;
      z-index: 5;
      overflow-y: scroll;
    }

    .bg-color-popup {
      position: fixed;
      inset: 0;
      opacity: 0.9;
      background-color: $c_blue_2;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .information-popup {
      @include d_flex(column, center, center, nowrap, false, PxToRem(16));
      width: 100%;
      .btn-close-popup {
        margin-top: PxToRem(68);
        background-color: $c_white_2;
        border-radius: 50%;
        padding: PxToRem(8);
        width: PxToRem(44);
        height: PxToRem(44);
        &:hover {
          cursor: pointer;
        }
        @include d_flex(row, center, center, nowrap, false, 0);
        i {
          @include d_flex(row, center, center, nowrap, false, 0);
          background-color: unset;
          font-size: PxToRem(32);
          translate: 0 1px;
        }
        @media (min-width: 900px) {
          align-self: flex-end;
        }
      }
      .video-popup {
        width: 100%;
        video {
          width: 100%;
          border-radius: PxToRem(24);
        }
      }
      .text-popup {
        padding: PxToRem(16);
        width: 100%;
        .jobseeker-name-popup {
          @include font_style(h2);
          color: $c_white_2;
        }
        .jobseeker-description-popup {
          @include font_style(body_2);
          color: $c_white_2;
          text-align: justify;
        }
      }
    }
  }
  .mobile-landing {
    .mobile-intro {
      @include d_flex(column, center, center, nowrap, false, 0);
      background-color: $c_blue_1;
      padding-block: PxToRem(40);
      padding-inline: PxToRem(16);
      h1 {
        text-align: center;
        @include font_style(h1);
        color: $c_white_1;
        font-weight: 500;
        margin-bottom: PxToRem(12);
        span {
          font-weight: 700;
          position: relative;
          @include psudo($el: after, $content: '', $inset: 0, $display: block) {
            position: absolute;
            background-image: url('../imgs/h1_sticker.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 100%;
          }
        }
      }
      p {
        text-align: center;
        @include font_style(body);
        color: $c_gray;
        font-weight: 400;
        margin-bottom: PxToRem(60);
      }
      .container-ball-stand-mobile {
        @include d_flex(column, center, flex-end, nowrap, false, 0);
        width: 70%;
        .ball-mobile {
          width: 20%;
          margin-bottom: PxToRem(-12);
        }
        .stand-mobile {
          img {
            width: 100%;
          }
        }
      }
      a {
        .btn-anchor {
          width: PxToRem(40);
          height: PxToRem(68);
          border: 1px solid $c_white_1;
          border-radius: PxToRem(60);
          @include d_flex(column, flex-end, center, nowrap, false, 0);
          transition: all 0.3s ease-in;
          i {
            background-color: unset;
            @include d_flex(row, center, center, nowrap, false, 0);
            font-size: PxToRem(28);
            color: $c_white_1;
          }
          &:hover {
            background-color: $c_white_1;
            i {
              color: $c_blue_2;
            }
          }
        }
      }
    }
    .explain-services-counseling {
      margin-top: PxToRem(20);
      @include d_flex(column, start, center, nowrap, false, PxToRem(44));
      .container-btn-title-text-explain {
        @include d_flex(column, start, start, nowrap, false, PxToRem(12));
        width: 100%;
        position: relative;
        z-index: 1;
        .title-explain-service {
          padding-top: PxToRem(200);
          @include font_style(h1);
          width: 100%;
          color: $c_blue_2;
          text-align: center;
        }
        .description-explain-service {
          @include font_style(body_2);
          color: $c_gray;
          text-align: justify;
          width: 100%;
          align-self: center;
          text-align: center;
        }
        .btn-explain-section {
          background-color: $c_blue_1;
          border-radius: PxToRem(40);
          padding: PxToRem(8) PxToRem(24);
          border: 1px solid transparent;
          transition: all 0.3s ease;
          align-self: center;
          @media (max-width: 500px) {
            width: 100%;
          }
          a {
            @include d_flex(row, center, center, nowrap, false, PxToRem(16));
            font-weight: 300;
            color: $c_white_2;
            i {
              background-color: unset;
            }
          }
          &:hover {
            background-color: $c_white_2;
            border: 1px solid $c_blue_1;
            a {
              color: $c_blue_1;
            }
          }
        }
      }
      .explain-section-1 {
        background-image: url('../imgs/number_one.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top center;
      }
      .explain-section-2 {
        background-image: url('../imgs/number_two.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top center;
        span {
          font-weight: 700;
          position: relative;
          @include psudo($el: after, $content: '', $inset: 0, $display: block) {
            position: absolute;
            background-image: url('../imgs/leaf.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 70%;
            height: 70%;
            translate: PxToRem(32) PxToRem(-20);
          }
        }
      }
      .explain-section-3 {
        background-image: url('../imgs/number-three.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top center;
      }
      .explain-section-4 {
        @include d_flex(column, start, start, nowrap, false, PxToRem(12));

        padding-inline: PxToRem(16);
        background-color: $c_blue_1;
        width: 100%;
        padding-top: PxToRem(20);
        .title-explain-service {
          padding-top: PxToRem(200);
          @include font_style(h1);
          width: 100%;
          color: $c_white_2;
          text-align: center;
          background-image: url('../imgs/number-four.png');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: top center;
        }
        .description-explain-service {
          @include font_style(body_2);
          color: $c_gray;
          text-align: justify;
          width: 100%;
          align-self: center;
          text-align: center;
        }
        .btn-explain-section {
          background-color: $c_white_2;
          margin-bottom: 10px;
          border-radius: PxToRem(40);
          padding: PxToRem(8) PxToRem(24);
          border: 1px solid transparent;
          transition: all 0.3s ease;
          align-self: center;
          @media (max-width: 500px) {
            width: 100%;
          }
          a {
            @include d_flex(row, center, center, nowrap, false, PxToRem(16));
            font-weight: 300;
            color: $c_blue_1;
            i {
              background-color: unset;
            }
          }
          &:hover {
            background-color: $c_blue_1;
            border: 1px solid $c_white_2;
            a {
              color: $c_white_2;
            }
          }
        }
      }
      .plane-section-mobile {
        padding-top: PxToRem(20);
        background-color: $c_blue_1;
        margin-top: PxToRem(-52);
        overflow: hidden;
        width: 101%;
        img {
          translate: 0 12px;
        }
      }
    }
    .container-services-home {
      margin-bottom: PxToRem(20);
      @include d_flex(column, start, start, nowrap, false, PxToRem(16));
      .title-subtitle-service {
        .title-service {
          @include font_style(h1);
          color: $c_blue_2;
        }
        .subtitle-service {
          @include font_style(body_2);
          color: $c_gray;
        }
      }
      .container-cards {
        @include d_flex(row, start, stretch, wrap, false, PxToRem(16));
        width: 100%;
      }
    }
    .getting-to-know {
      .getting-to-know-section-1,
      .getting-to-know-section-2 {
        margin-bottom: PxToRem(20);
        .title-getting-to-know {
          @include font_style(h1);
          color: $c_blue_2;
        }
        .subtitle-getting-to-know {
          @include font_style(body_2);
          color: $c_gray;
          margin-bottom: PxToRem(8);
        }
        .image-getting-to-know {
          > img {
            max-height: PxToRem(540);
            object-fit: contain;
          }
        }
      }
      .getting-to-know-section-2 {
        .title2-getting-to-know {
          @include font_style(h2);
          color: $c_blue_2;
        }
        .description-getting-to-know {
          p {
            margin-bottom: PxToRem(24);
            @include font_style(body_2);
            color: $c_blue_2;
            text-align: justify;
          }
        }
      }
    }
    .jobseeker-section-home {
      @include d_flex(column, space-between, start, wrap, false, 4px);
      margin-bottom: PxToRem(44);
      .container {
        width: 100%;
      }
      .container-swiper-jobseeker {
        width: 100%;
        margin-bottom: PxToRem(44);

        .swiper {
          width: 100%;
          height: 100%;
          .swiper-wrapper {
            .swiper-slide {
              @include d_flex(row, center, center, wrap, false, 4px);
              width: 100%;
              height: unset !important;
            }
          }
        }
      }
      .title-jobseeker-home {
        @include font_style(h2);
        color: $c_blue_2;
        width: 100%;
      }
      .description-jobseeker-home {
        width: 100%;
        margin-bottom: PxToRem(16);
        > p {
          @include font_style(body_2);
          color: $c_blue_2;
          text-align: justify;
        }
      }
      .container-title-btn-jobseeker {
        width: 100%;
        @include d_flex(row, space-between, center, wrap, false, 4px);
        .title-jobseeker-home-diffrent {
          @include font_style(h2);
          color: $c_blue_2;
        }
      }
      .video-jobseeker-popup {
        position: relative;
        width: 100%;
        div {
          width: 100%;
          > img {
            width: 100%;
            border-radius: PxToRem(24);
            object-fit: contain;
            max-height: PxToRem(500);
          }
        }

        .play-btn {
          @include d_flex(row, center, center, nowrap, false, 0);
          position: absolute;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          width: PxToRem(40);
          height: PxToRem(40);
          backdrop-filter: blur(37px);
          border-radius: 50%;
          padding: PxToRem(8);
          &:hover {
            cursor: pointer;
          }
          i {
            @include d_flex(row, center, center, nowrap, false, 0);
            padding: PxToRem(8);
            border-radius: 50%;

            background-color: unset;
            color: $c_white_1;
            font-size: PxToRem(32);
          }
        }
      }
      .container {
        @include d_flex(column, center, center, nowrap, false, 0);
        .primary-btn {
          padding: PxToRem(8) PxToRem(24);
          width: 100%;
          @media (min-width: 600px) {
            width: 50%;
          }
          a {
            @include d_flex(row, center, center, nowrap, false, 0);
            i {
              @include d_flex(row, center, center, nowrap, false, 0);
              background-color: unset;
            }
          }
        }
      }
    }
    .blog-section-home {
      margin-bottom: PxToRem(44);
      .container-titles-btn {
        @include d_flex(row, space-between, center, nowrap, false, 0);
        .primary-btn {
          padding: PxToRem(8) PxToRem(24);
          @media (max-width: 600px) {
            display: none;
          }
        }
      }
      .title-blog-home {
        @include font_style(h1);
        color: $c_blue_2;
      }
      .subtitle-blog-home {
        @include font_style(body_2);
        color: $c_gray;
      }
      .blog-choosed-desktop {
        padding-top: PxToRem(16);
        @include d_flex(
          row,
          space-between,
          stretch,
          nowrap,
          false,
          PxToRem(16)
        );
        .container-choosed-blog-right {
          @include d_flex(column, space-between, stretch, nowrap, false, 0);
          flex: 1;
        }
        .container-choosed-blog-left {
          @include d_flex(column, space-between, stretch, nowrap, false, 0);
          flex: 1;
          .card-post {
            @include d_flex(
              row,
              space-between,
              stretch,
              nowrap,
              false,
              PxToRem(8)
            );
            .image-card-post {
              flex: 1;
            }
            .container-title-expert-author-date-button {
              flex: 2;
            }
          }
        }
      }
    }
    .faq-section-home {
      .faq-titles-btn {
        @include d_flex(row, space-between, center, nowrap, false, 0);
        .titles-and-btn-faq {
          .title-faq-home {
            @include font_style(h1);
            color: $c_blue_2;
          }
          .subtitle-faq-home {
            @include font_style(body_2);
            color: $c_gray;
          }
        }
        .primary-btn {
          padding: PxToRem(8) PxToRem(24);
          @media (max-width: 650px) {
            display: none;
          }
          a {
            @include d_flex(row, center, center, nowrap, false, 0);
            i {
              @include d_flex(row, center, center, nowrap, false, 0);
              background-color: unset;
            }
          }
        }
      }
    }
    .contact-us-section-home {
      @include d_flex(column, start, start, nowrap, false, 0);
      width: 100;
      h1 {
        @include font_style(h1);
        color: $c_blue_2;
        text-align: justify;
        width: 100;
        @media (max-width: 1440px) {
          padding-inline: PxToRem(16);
        }
      }
      p {
        @include font_style(body_2);
        color: $c_gray;
        width: 100;
        @media (max-width: 1440px) {
          padding-inline: PxToRem(16);
        }
      }

      .container-form-image {
        width: 100%;
        position: relative;

        form {
          @include d_flex(column, start, start, nowrap, false, PxToRem(4));

          label {
            @include font_style(body_2);
            color: $c_blue_2;
          }
          div {
            @include d_flex(row, start, start, nowrap, false, PxToRem(4));
            background-color: $c_white_2;
            padding: PxToRem(4) PxToRem(12) PxToRem(4) 0;
            border-radius: PxToRem(20);

            border: 1px solid $gradient-blue;
            margin-bottom: PxToRem(20);
            position: relative;
            width: 100%;
            &::after {
              content: '';
              position: absolute;
              inset: -1px;
              border-radius: inherit;
              background: $gradient-blue;
              z-index: -2;
            }
            i {
              @include d_flex(row, start, center, nowrap, false, PxToRem(4));
              color: $c_gray;
              background-color: unset;
            }
            input,
            textarea {
              outline: none;
              border: none;
              background-color: unset;
            }
            input {
              width: 80%;
            }
            textarea {
              width: 90%;
              resize: vertical;
            }
            &.primary-btn {
              background-color: $c_blue_1;
              padding: PxToRem(8) PxToRem(24);
              @include d_flex(row, center, center, nowrap, false, PxToRem(4));
              i {
                @include d_flex(row, center, center, nowrap, false, 0);
                background-color: unset;
                color: $c_white_2;
                font-size: PxToRem(20);
                transition: all 0.8s ease-in-out;
              }
              &:hover {
                background-color: $c_white_2;
                i {
                  color: $c_blue_1;
                }
              }
            }
          }
        }
        .image-contact-us {
          width: 100%;
          margin-bottom: -0.8rem;
          @media (width>700px) {
            text-align: left;
          }
          img {
            width: 100%;
            @media (width>700px) {
              width: 40%;
            }
          }
        }
        @media (min-width: 700px) {
          @include d_flex(row, start, start, nowrap, false, PxToRem(4));

          form {
            flex: 1;
            margin-bottom: PxToRem(200);
          }
          .image-contact-us {
            img {
              position: absolute;
              bottom: 0;
              left: 0;
            }
            flex: 2;
          }
        }
        @media (max-width: 1000px) {
          form {
            flex-basis: 40%;
          }
        }
      }
    }
  }
}
