@use "../utils/" as *;
main.page-notfound {
  margin-top: 2rem;
  margin-bottom: 7.48rem;
  .not-found-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      margin-bottom: 1.25rem;
      @media (width > 860px) {
        width: 60%;
      }
    }
    .text-not-found {
      margin-bottom: 0.5rem;
    }
    .primary-btn {
      width: 70%;
      @media (width > 860px) {
        width: 20%;
      }
    }
  }
}
