@use '../utils/' as *;
main.about-us-page {
  @include d_flex(column);
  position: relative;
  .background-about-us {
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    translate: 0rem 0rem;

    .swiper {
      margin: 0;
      width: 100%;
      display: flex;
      border-radius: 0;
      overflow-y: visible;
      .swiper-wrapper {
        width: 100%;
        border-radius: 0;

        .swiper-slide {
          width: 100%;
          padding: 0;
          flex-direction: row;
          position: relative;
          overflow: unset !important;
          opacity: 0;
          transition: opacity 0.1s ease-in;
          &.swiper-slide-active {
            opacity: 1;
          }
          .bg_slider {
            position: relative;

            &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: 5;
              background: $bg_purple;
              opacity: 0.8;
              pointer-events: none;
            }
          }
          .container-slider {
            @include d_flex(row, center, center, nowrap, false, 0);
            @media (max-width: 1020px) {
              width: 100%;
              right: 0;
            }
            .title-image-slider {
              border: PxToRem(8) solid $c_blue_1;
              border-radius: PxToRem(24);
              position: absolute;
              right: PxToRem(16);
              bottom: PxToRem(-44);
              width: PxToRem(580);
              height: PxToRem(580);
              padding: PxToRem(28);
              z-index: 10;
              overflow: hidden;
              margin-inline: PxToRem(16);
              @media (max-width: 1020px) {
                width: 90%;
                right: 0;
              }
              .title-slider {
                @include font_style(t2);
                color: $c_white_2;
                width: 60%;
                position: absolute;
                right: 5%;
                top: 15%;
                @media (max-width: 800px) {
                  @include font_style(h1);
                  color: $c_white_2;
                }
              }
              .image-slider {
                position: absolute;
                bottom: -5%;
                left: 2%;
              }
            }
          }
        }
      }
      .btn-next-about-us {
        @include d_flex(row, center, center, nowrap, false, 0);

        position: absolute;
        background: $c_white_2;
        z-index: 20;
        right: 0;
        border-radius: 50%;
        padding: PxToRem(12);
        i {
          background-color: unset;

          translate: -2px 1px;
        }
        rotate: -90deg;
      }
      .btn-prev-about-us {
        @include d_flex(row, center, center, nowrap, false, 0);

        position: absolute;
        background: $c_white_2;
        z-index: 20;
        right: 100px;
        border-radius: 50%;
        padding: PxToRem(12);
        i {
          background-color: unset;
          translate: -1px 2px;
        }
        rotate: 90deg;
      }
    }
  }

  .popup-about-us {
    opacity: 0;
    pointer-events: none;
    @include d_flex(column, start, center, nowrap, false, PxToRem(16));
    height: 0;
    &.show {
      height: auto;
      transition: all 0.5s ease-in-out;
      opacity: 1;
      pointer-events: all;
      position: fixed;
      inset: 0;
      width: 100%;
      height: auto;
      z-index: 5;
      overflow-y: scroll;
    }

    .bg-color-popup {
      position: fixed;
      inset: 0;
      opacity: 0.9;
      background-color: $c_blue_2;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .information-popup {
      @include d_flex(column, center, center, nowrap, false, PxToRem(16));
      width: 100%;
      .btn-close-popup {
        margin-top: PxToRem(68);
        background-color: $c_white_2;
        border-radius: 50%;
        padding: PxToRem(8);
        width: PxToRem(44);
        height: PxToRem(44);
        &:hover {
          cursor: pointer;
        }
        @include d_flex(row, center, center, nowrap, false, 0);
        i {
          @include d_flex(row, center, center, nowrap, false, 0);
          background-color: unset;
          font-size: PxToRem(32);
          translate: 0 1px;
        }
        @media (min-width: 900px) {
          align-self: flex-end;
        }
      }
      .video-popup {
        width: 100%;
        video {
          width: 100%;
          border-radius: PxToRem(24);
        }
      }
      .text-popup {
        padding: PxToRem(16);
        width: 100%;
        .jobseeker-name-popup {
          @include font_style(h2);
          color: $c_white_2;
        }
        .jobseeker-description-popup {
          @include font_style(body_2);
          color: $c_white_2;
          text-align: justify;
        }
      }
    }
  }
  .spacer {
    height: 0;
    width: 0;
    display: none;
    @media (max-width: 1020px) {
      display: block;
      width: 100%;
      height: 10vw;
    }
  }
  .divider {
    height: PxToRem(68);
    background-color: $c_white_1;
    width: 100%;
    box-shadow: 0 0 PxToRem(16) 0 $c_shadow_1;
  }
  .section-aboutus-odd,
  .section-aboutus-even {
    z-index: 3;
    @include d_flex(column, start, center, nowrap, false, PxToRem(16));
    width: 100%;
    img {
      max-height: PxToRem(600);
      object-fit: contain;
    }
    .container-title-text {
      margin-bottom: PxToRem(44);
      @include d_flex(column, start, start, nowrap, false, PxToRem(16));
      h2 {
        @include font_style(h1);
        color: $c_blue_1;
      }
      p {
        @include font_style(body_2);
        color: $c_blue_2;
        text-align: justify;
      }
    }
    > h2 {
      @include font_style(h1);
      color: $c_blue_1;
      margin-inline: PxToRem(4);
    }
  }
  .jobseeker-container {
    margin-inline: unset;
    padding-inline: PxToRem(16);
    @media (min-width: 900px) {
      margin-inline: auto;
      @include font_style(t2);
      color: $c_blue_1;
    }
    .successful-jobseeker {
      @include font_style(h1);
      color: $c_blue_1;
      align-self: flex-start;
      margin-inline: unset;
      width: 100%;
      @media (min-width: 900px) {
        margin-inline: auto;
        @include font_style(t2);
        color: $c_blue_1;
      }
    }
    margin-bottom: PxToRem(12);
  }
  .jobseeker-content {
    width: 100%;
    .swiper {
      width: 100%;
      height: 100%;
      @include d_flex(row, space-between, stretch, nowrap, false, PxToRem(16));

      .swiper-wrapper {
        height: 100% !important;

        .swiper-slide {
          height: unset !important;
        }
      }
    }
  }

  .last_words {
    @include font_style(h1);
    color: $c_blue_1;

    margin-top: PxToRem(68);
    align-self: flex-start;
    margin-inline: unset;
    @media (min-width: 900px) {
      margin-inline: auto;
      @include font_style(t2);
      color: $c_blue_1;
    }
  }
  .section-aboutus-odd {
    @media (min-width: 900px) {
      flex-direction: row-reverse;
      align-items: center;
      img {
        max-width: unset;
      }
    }
  }
  .section-aboutus-even {
    @media (min-width: 900px) {
      flex-direction: row;
      align-items: center;
    }
  }
  .section-4 {
    .last-section-image {
      min-width: 50%;
    }
  }
  .call-to-action {
    position: relative;
    @include d_flex(column, start, start, nowrap, false, PxToRem(4));
    margin-bottom: PxToRem(120);
    margin-top: PxToRem(44);
    padding: PxToRem(40) PxToRem(0);
    width: 100%;
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-image: url('../imgs/banner.png');
      z-index: -1;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    > div {
      margin-bottom: PxToRem(16);
      width: 100%;
      h2 {
        @include font_style(h1);
        color: $c_white_1;
      }
      > p {
        @include font_style(body_2);
        color: $c_white_1;
      }
      div.secondary-btn {
        margin-top: PxToRem(16);
        max-width: max-content;
      }
    }
  }
}
