@use "../utils/" as *;
main.contact-us {
  @include d_flex(column, start, start, nowrap, false, 0);
  width: 100;
  h1 {
    @include font_style(h1);
    color: $c_blue_2;
    text-align: justify;
    width: 100;
    @media (max-width: 1440px) {
      padding-inline: PxToRem(16);
    }
  }
  p {
    @include font_style(body_2);
    color: $c_gray;
    width: 100;
    @media (max-width: 1440px) {
      padding-inline: PxToRem(16);
    }
  }

  .container-form-image {
    width: 100%;
    position: relative;

    form {
      @include d_flex(column, start, start, nowrap, false, PxToRem(4));

      label {
        @include font_style(body_2);
        color: $c_blue_2;
      }
      div {
        @include d_flex(row, start, start, nowrap, false, PxToRem(4));
        background-color: $c_white_2;
        border-radius: PxToRem(20);
        padding: PxToRem(4) PxToRem(12) PxToRem(4) 0;
        border: 1px solid $gradient-blue;
        margin-bottom: PxToRem(20);
        position: relative;
        width: 100%;
        &::after {
          content: "";
          position: absolute;
          inset: -1px;
          border-radius: inherit;
          background: $gradient-blue;
          z-index: -2;
        }
        i {
          @include d_flex(row, start, center, nowrap, false, PxToRem(4));
          color: $c_gray;
          background-color: $c_white_2;
        }
        input,
        textarea {
          outline: none;
          border: none;
          background-color: unset;
        }
        input {
          width: 80%;
        }
        textarea {
          width: 90%;
          resize: vertical;
        }
        &.primary-btn {
          background-color: $c_blue_1;
          padding: PxToRem(12) PxToRem(24) PxToRem(12) PxToRem(36);
          @include d_flex(row, center, center, nowrap, false, PxToRem(4));
          i {
            @include d_flex(row, center, center, nowrap, false, 0);
            background-color: unset;
            color: $c_white_2;
            font-size: PxToRem(20);
            transition: all 0.8s ease-in-out;
          }
          &:hover {
            background-color: $c_white_2;
            i {
              color: $c_blue_1;
            }
          }
        }
      }
    }
    .image-contact-us {
      width: 100%;
      margin-bottom: -0.8rem;
      @media (width>700px) {
        text-align: left;
      }
      img {
        width: 100%;
        @media (width>700px) {
          width: 40%;
        }
      }
    }
    @media (min-width: 700px) {
      @include d_flex(row, start, start, nowrap, false, PxToRem(4));

      form {
        flex: 1;
        margin-bottom: PxToRem(200);
      }
      .image-contact-us {
        img {
          position: absolute;
          bottom: 0;
          left: 0;
        }
        flex: 2;
      }
    }
    @media (max-width: 1000px) {
      form {
        flex-basis: 40%;
      }
    }
  }
}
