@use '../utils/' as *;
main.single-service-page {
  .popup-service {
    opacity: 0;
    pointer-events: none;
    @include d_flex(column, start, center, nowrap, false, PxToRem(16));
    height: 0;
    transition: all 0.5s ease-in-out;
    &.show {
      height: auto;
      opacity: 1;
      pointer-events: all;
      position: fixed;
      inset: 0;
      width: 100%;
      height: auto;
      z-index: 50;
      overflow-y: scroll;
    }

    .bg-color-popup-service {
      position: fixed;
      inset: 0;
      opacity: 0.9;
      background-color: $c_blue_2;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .information-popup-service {
      @include d_flex(column, center, center, nowrap, false, PxToRem(16));
      width: 100%;
      .btn-close-popup-service {
        margin-top: PxToRem(68);
        background-color: $c_white_2;
        border-radius: 50%;
        padding: PxToRem(8);
        width: PxToRem(44);
        height: PxToRem(44);
        &:hover {
          cursor: pointer;
        }
        @include d_flex(row, center, center, nowrap, false, 0);
        i {
          @include d_flex(row, center, center, nowrap, false, 0);
          background-color: unset;
          font-size: PxToRem(32);
          translate: 0 1px;
        }
        @media (min-width: 900px) {
          align-self: flex-end;
        }
      }
      .container-video-popup-service {
        width: 100%;
        video {
          width: 100%;
          border-radius: PxToRem(24);
        }
      }
      .text-service-popup {
        padding: PxToRem(16);
        width: 100%;
        .title-service-popup {
          @include font_style(h2);
          color: $c_white_2;
        }
        .description-service-popup {
          @include font_style(body_2);
          color: $c_white_2;
          text-align: justify;
        }
      }
    }
  }
  .single-service-content {
    @include d_flex(column, start, start, nowrap, false, PxToRem(68));

    .section-1 {
      @media (min-width: 800px) {
        @include d_flex(
          row-reverse,
          space-between,
          center,
          nowrap,
          false,
          PxToRem(16)
        );
      }
      @include d_flex(column, start, start, nowrap, false, PxToRem(4));
      width: 100%;

      .container-image-section1 {
        @media (min-width: 800px) {
          flex: 1;
        }
        @media (max-width: 800px) {
          align-self: center;
          width: 56%;
        }
        position: relative;
        @include d_flex(row, center, center, nowrap, false, 0);
        width: 100%;
        img {
          object-fit: contain;
          width: 35rem;
          height: 25rem;
          @media (max-width: 900px) {
            width: PxToRem(240);
            height: PxToRem(232);
          }
        }
        @include psudo($el: after, $content: '', $position: absolute) {
          width: 100%;
          height: 70%;
          background: $gradient-purple;
          z-index: -1;
          border-radius: 50% 50% 0 0/100% 100% 0 0;
          inset: unset;
          bottom: 0;
        }
      }
      .texts-section1 {
        @media (min-width: 800px) {
          flex: 1;
        }
        h2 {
          @include font_style(h1);
          color: $c_blue_2;
          strong {
            @include font_style(h1);
            color: $c_red_1;
          }
        }
        .subtitle-section1 {
          @include font_style(h2);
          color: $c_blue_1;
        }
        .description-section1 {
          @include font_style(body_2);
          color: $c_blue_2;
          margin-bottom: PxToRem(16);
        }
      }
    }
    .section {
      @include d_flex(column, center, start, nowrap, false, PxToRem(12));
      @media (min-width: 800px) {
        @include d_flex(row, space-between, center, nowrap, false, PxToRem(72));
      }
      .container-image-section {
        width: 100%;
        img {
          width: 100%;
          height: 100%;
        }
        @media (min-width: 800px) {
          flex: 1;
        }
      }
      .texts-section {
        @media (min-width: 800px) {
          flex: 1;
        }
        h2 {
          @include font_style(h2);
          color: $c_gray;
          margin-bottom: PxToRem(8);
        }
        p {
          @include font_style(h1);
          color: $c_blue_1;
          margin-bottom: PxToRem(16);
        }
        .description-section {
          @include font_style(body_2);
          color: $c_blue_2;
          text-align: justify;
        }
      }
    }
    .section-2 {
      position: relative;
      .container-image-section {
        .card-know {
          position: absolute;
          background: $gradient-purple;
          box-shadow: $c_shadow_2;
          border-radius: PxToRem(8);
          overflow: hidden;
          @include d_flex(column, center, start, nowrap, false, PxToRem(12));
          padding: PxToRem(20) PxToRem(16) PxToRem(20) PxToRem(20);
          .title-card-know {
            @include font_style('caption');
            color: $c_white_2;
          }
          .description-card-know {
            @include font_style(body_2);
            color: $c_white_2;
          }
        }
      }
    }
    .section-3 {
      width: 100%;
      align-self: flex-end;
      @include d_flex(column, center, start, nowrap, false, PxToRem(12));
      @media (min-width: 800px) {
        @include d_flex(row, space-between, center, nowrap, false, PxToRem(44));
        width: 98%;
      }
      .texts-section {
        @media (min-width: 800px) {
          flex: 1;
        }
        h2 {
          @include font_style(h2);
          color: $c_gray;
          margin-bottom: PxToRem(8);
        }
        p {
          @include font_style(h1);
          color: $c_blue_1;
          margin-bottom: PxToRem(16);
        }
        .description-section {
          @include font_style(body_2);
          color: $c_blue_2;
          text-align: justify;
        }
        .container-btn-prev-next {
          @include d_flex(row, start, center, nowrap, false, PxToRem(8));

          .swiper-button-prev-service,
          .swiper-button-next-service {
            width: PxToRem(44);
            height: PxToRem(44);
            position: static;
            background-color: $c_white_2;
            box-shadow: 0 PxToRem(4) PxToRem(8) 0 $c_shadow_1;
            border-radius: 50%;
            @include d_flex(row, center, center, nowrap, false, PxToRem(8));
            i {
              @include d_flex(row, center, center, nowrap, false, PxToRem(8));
              background-color: unset;
              color: $c_blue_1;
              font-weight: 600;
            }
          }
          .swiper-button-prev-service {
            i {
              rotate: -90deg;
            }
          }
          .swiper-button-next-service {
            i {
              rotate: 90deg;
            }
          }
        }
      }
      .container-slider-and-bg {
        @media (min-width: 800px) {
          flex: 2;
          max-width: 65%;
        }
        padding-block: PxToRem(28);

        position: relative;
        width: 100%;
        height: 300px;
        .background-slider {
          position: absolute;
          right: 0;
          top: 0;
          height: 50%;
          width: 100%;
          background: $gradient-purple;
          z-index: -1;
          @media (min-width: 800px) {
            border-top-right-radius: PxToRem(8);
            border-bottom-right-radius: PxToRem(8);
          }
        }
        .container-slider {
          width: 100%;
          height: 100%;
          .swiper {
            width: 100%;
            height: 100%;
            @include d_flex(row, space-between, center, nowrap, false, 0);

            .swiper-slide {
              @include d_flex(column, center, center, nowrap, false, 0);

              img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              .content-card-slider {
                @include d_flex(column, center, center, nowrap, false, 0);
                text-align: center;
                font-size: 18px;
                background: $c_white_2;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: PxToRem(28);
                padding: PxToRem(8) PxToRem(16) PxToRem(32) PxToRem(16);
                width: 90%;
                position: relative;
                .container-image-slider {
                  @include d_flex(row, center, center, nowrap, false, 0);
                  position: relative;
                  isolation: isolate;
                  @include psudo(
                    $el: after,
                    $content: '',
                    $display: block,
                    $position: absolute
                  ) {
                    inset: unset;
                    width: 80%;
                    height: 80%;
                    background-color: $c_gray_2;
                    border-radius: 50%;
                    z-index: -1;
                    top: 50%;
                    left: 50%;
                    translate: -50% -50%;
                  }
                  img {
                    object-fit: contain;
                  }
                }
                p {
                  @include font_style(h3);
                  color: $c_blue_1;
                }
                i {
                  position: absolute;
                  bottom: 0;
                  width: PxToRem(32);
                  height: PxToRem(32);
                  font-size: 25px;
                  background-color: $c_white_1;
                  border: 1px solid $c_blue_1;
                  color: $c_blue_1;
                  border-radius: 50%;
                  @include d_flex(row, center, center, nowrap, false, 0);
                  margin-bottom: PxToRem(-16);
                  &::before {
                    translate: 0 1px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .call-to-action {
      position: relative;
      overflow: hidden;
      @include d_flex(column, start, start, nowrap, false, PxToRem(4));
      margin-bottom: PxToRem(120);
      margin-top: PxToRem(44);
      padding: PxToRem(40) PxToRem(16);
      width: 100%;
      @media (min-width: 700px) {
        width: 80%;
        border-bottom-left-radius: PxToRem(8);
        border-top-left-radius: PxToRem(8);
      }
      &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-image: url('../imgs/banner-service.png');
        z-index: -1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      h2 {
        @include font_style(h2);
        color: $c_white_1;
      }
      > p {
        @include font_style(body_2);
        color: $c_white_1;
      }
    }
  }
}
